---
import LayoutMain from "@layouts/LayoutMain.astro";
---

<LayoutMain
  title="About"
  description="About Page"
  keywords="About, Astro, Tailwind, HTML, CSS, Javascript"
>
  <h1>About Astro Template</h1>
</LayoutMain>