---
import LayoutMain from "@layouts/LayoutMain.astro";
---

<LayoutMain
	title="Astro Tailwind Workflow"
	description="Starter template workflow built using Astro and Tailwind CSS"
	keywords="Astro, Tailwind, HTML, CSS, Javascript"
>
	<h1>Astro Template</h1>
</LayoutMain>