---

---

<header class="shadow">
  <div class="container mx-auto py-3 flex justify-between items-center w-100">
    <a href="#">
      <img src="#" alt="Logo" />
    </a>
    <nav>
      <ul class="flex items-center">
        <li><a href="/" class="p-3">Home</a></li>
        <li><a href="./about" class="p-3">About</a></li>
      </ul>
    </nav>
  </div>
</header>