---
import "../styles/global.css"

const { title, description, keywords } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
    <meta name="description" content={description} />
    <meta name="keywords" content={keywords} />
	</head>
	<body>
    <slot></slot>

    <script src="../js/script.js"></script>
	</body>
</html>
