---
import "@styles/global.css";

interface Props {
	title: string;
	description: string;
	keywords: string;
}

const { title, description, keywords } = Astro.props;

import Navbar from "@components/Navbar.astro";
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
    <meta name="description" content={description} />
    <meta name="keywords" content={keywords} />
	</head>
	<body>
		<Navbar></Navbar>

    <slot></slot>

    <script src="../js/script.js"></script>
	</body>
</html>
